<html>
    <head>
        <title>Library</title>
    </head>
    <body>
        <h1>Library</h1>

        <!-- <h2>Search</h2>
        <form action="/search/title" method="post">
            <label for="search_title">Search Title</label>
            <input type="text" name="search_title" id="search_title">

            <button type="submit">Submit</button>
        </form>

        <form action="/search/author" method="post">
            <label for="search_author">Search Author</label>
            <input type="text" name="search_author" id="search_author">

            <button type="submit">Submit</button>
        </form> -->

        <a href="/add_book" class = "librarian_login"><p>Librarian Login</p></a>
    </body>
</html>
