<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <h1>Library</h1>
        <form action="/add_book" method="post">

            <label for="author">Author:</label>
            <input type="text" name="author" id="author">

            <label for="title">Title:</label>
            <input type="text" name="title" id="title">

            <button type="submit">Submit</button>
        </form>

        {%  if books is not empty %}
            <ul>
                {% for book in books %}
                    <li><a href="/books/{{ book.getId }}/edit">{{ book.getTitle }}</a> - {{ book.getAuthor }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>There are no books yet!</p>
        {% endif %}

        <form action="/delete_books" method="post">
            <button type="submit">Delete All Books</button>
        </form>
    </body>
</html>
